<ion-header>
  <ion-toolbar>
    <ion-title
      ><ion-icon class="title-icon" name="document-text-outline"></ion-icon
      >Record Details</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content class="page-styles">
  <div *ngIf="record">
    <ion-item>
      <ion-label position="stacked" color="tertiary">Title:</ion-label>
      <ion-input [(ngModel)]="record.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="tertiary">Text:</ion-label>
      <ion-textarea [(ngModel)]="record.text" rows="8"></ion-textarea>
    </ion-item>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col style="text-align: center !important">
      <ion-button
        position="center"
        size="small"
        color="secondary"
        (click)="cancelAndReturn()"
      >
        <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
        Back
      </ion-button>
    </ion-col>
    <ion-col style="text-align: center !important">
      <ion-button size="small" color="primary" (click)="updateRecord()">
        <ion-icon name="save" slot="start"></ion-icon>
        Update
      </ion-button>
    </ion-col>
    <ion-col style="text-align: center !important">
      <ion-button
        position="center"
        size="small"
        color="danger"
        (click)="deleteRecord()"
      >
        <ion-icon name="trash" slot="start"></ion-icon>
        Delete
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
