/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.home-styles {
  --ion-background-color: #0082c3;
  --ion-item-background: #d9dde1;
}

.setting-modal .modal-wrapper {
  --ion-background-color: #d9dde1;
  --border-radius: 20px;
  --max-height: 50%;
  --max-width: 80%;
  --width: 80%;
  --height: 50%;
  --border-style: solid;
  --border-color: #d9dde1;
  border-width: 4px;
  top: 20%;
}

ion-footer {
  background-color: #d9dde1;
}

.title-icon {
  font-size: 24px;
  padding-right: 8px;
}
