<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      <ion-icon class="title-icon" name="clipboard-outline"></ion-icon>Records Database
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-styles">
  <ion-card
    *ngFor="let record of records; let recordIndex=index;"
    (click)="openRecord(record)"
  >
    <ion-card-header>
      <ion-card-title>{{recordIndex+1}}. {{ record.title }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addRecord()" color="dark">
      <ion-icon name="add"></ion-icon
      ><ion-icon name="document-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
